{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block body %}

<div class="container">
   <h1>Welcome to your application</h1>

    <h2>List of cars</h2>
    <a class="btn btn-primary" href="{{ path ('app_car_category', {'carCategory' : 'all' }) }}">List of cars</a>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

  <h2>List of cars</h2>
    <a class="btn btn-primary" href="{{ path ('app_admin_car_index') }}">Manage your cars</a>

  <h2>Your meteo</h2>
  <p>Currently the temperature is {{ weather.current_weather.temperature }} </p>

</div>

{% endblock %}
